
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Headings */

.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}


/* Nav Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: lighter;
}

/* Download Buttons  */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title section */

#title.container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.title-image {
  transform: rotate(25deg);
  width: 60%;
  margin: 20px 0;
  position: absolute;
  right: 30%;
}

/* Features section */
#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.fas-features {
  color: #ef8172;
  margin: 10px;
}

.fas-features:hover {
  color: #ff4c68;
}

.col-features {
  margin: 10% 0;
}

/* Testimonial section */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-img {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}


/* Press section  */
#press {
  background-color: #ef8172;
}

.press-img {
  width: 15%;
  margin: 0 3%;
}

/* Pricing section   */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}


.card {
  margin: 5%;
  padding: 3% 2%;
}



/* Footer  */
#footer {
  line-height: 2;
}

.social-icon {
  color: #8f8f8f;
  margin: 10px;
}

/* Media query */
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
